extends base

block content
  main.main
    .login-form.description-box
      h2.heading-secondary.ma-bt-lg Please confirm your email
      p.description__text We need you to confirm your email address in order to warranty the access to your profile.
      button.btn.btn--green#resend-email Send me a new Email