extends baseEmail

block content
  p Hi #{firstName},
    p Welcome to the Natours Family
    p Please confirm your email.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${urls[0]}`, target='_blank') Confirm Email
    p If you are using our API, make a get request to:
    a #{urls[1]}
    p If you didn't use this email to sign up, 
    p please ignore this message.